<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ArchyLynx Server | Made By 3hy</title>
    <link rel="stylesheet" href="static/styles/base.css">
    <link rel="stylesheet" href="../static/styles/base.css">
    <script src="static/js/shared.js"></script>
</head>                                     
<body>
    <div class="taskbar">
        <div class="title"></div>
        <div class="rest">
            <button>
                <a onclick="openFilePicker()">upload</a>
            </button>
            <button>
                <a href="/debug">debug</a>
            </button>
        </div>
    </div>
    <div class="content">
    </div>
    <script>
        

    </script>
</body>
</html>